<h1>Groups</h1>
<%= form_for @group do |f| %>
    <%= f.collection_select :user_ids, User.all, :id, :name, { include_hidden: false }, { multiple: true } %>
    <%= f.hidden_field :game_id, value: params[:game_id] %>
    <%= f.submit "Create group", class: "btn btn-default" %>
<% end %>
