<div>
    <%= link_to "Create new group", :new_group %>
</div>
<% for game in @games %>
    <div class="col-xs-4 game-image">
        <%= link_to game do %>
            <%= image_tag "dota", { width: 200 } %>
            <h2><span><%= game.title %></span></h2>
        <% end %>
    </div>
<% end %>
