<% for game in @games %>
    <div class="text-center col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                IMAGE
            </div>
            <div class="panel-footer"><%= game.title %></div>
        </div>
    </div>
<% end %>
