<div class="chatbox">
    <% @chat_messages.each do |c| %>
        <div class="message">
            <span class="username">
                <%= c.user.name %>
            </span>
            <span>
                <%= c.content %>
            </span>
        </div>
    <% end %>
</div>
<%= select_tag "user_id", options_for_select(User.all.collect{ |u| [u.name, u.id]}) %>
<input id="send_message" type="text" onKeyPress="send_message(event)">

