<div class="message">
    <span class="username">
        <%= chat_message.user.name + " (" + chat_message.created_at.to_s(:time) + ") :" %>
    </span>
    <span>
        <%= chat_message.content %>
    </span>
</div>
