#chatpanel {
  position: fixed;
  bottom: 0;
  right: 20px;
  height: 100%;
  max-height: 475px;
  width: 100%;
  max-width: 400px;
  z-index: 10;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

  background-color: white;

  transition: all 0.5s ease-in-out;

  .chat-header {
    position: relative;
    height: 52px;
    width: 100%;

    color: white;

    // Material shit
    background-color: #455A64;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    text-align: center;

    button {
      background-color: inherit;
    }

    .glyphicon {
      color: white;
    }

    // For vertical align of text
    display: inline-block;

    .channel-switcher {
      font-size: 1.1em;
      font-weight: bold;
      line-height: 52px;
      position: relative;

      &:before {
        color: white;
        position: absolute;
        top: 0.4em;
        left: -1.1em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid white;
        pointer-events: none;
      }

      select {
        background-color: transparent;
        border: none;
        appearance: none;
      }

      select:focus {
        outline: none
      }
    }

    .expand-button {
      border: none;
      position: absolute;
      right: 50px;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .minimize-button {
      float: right;
      right: 5px;
      position: absolute;
      border: none;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .chat-body {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .messagebox {
      height: calc(100% - ( 34px + 32px + 20px + 10px));
      margin-bottom: 10px;
      z-index: 5;
      overflow: auto;
    }

    #new_messages {
      position: absolute;
      bottom: 34px;
      text-align: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 8px;
      cursor: pointer;
      user-select: none;
    }

    #send-message {
      height: 34px;
    }

    .message {
        .author {
            font-weight: bold;
            margin-right: 3px;
        }
        .timestamp {
            color: LightGray;
            margin-right: 3px;
        }
    }
  }

}

#send-button {
  border-radius: 0;
}

#chatpanel.fullscreen {
  max-height: 100%;
  max-width: 80%;
  right: 0px;
}

#chatpanel.minimized {
  -ms-transform: translate(0,423px); /* IE 9 */
 	-webkit-transform: translate(0,423px); /* Safari */
  transform: translate(0,423px);
}
