// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
    .header {
        overflow: hidden;
    }
    .name {
        float: left;
        font-weight: bold;
        font-size: 150%;
    }
    .time {
        float: right;
        color: #808080;
    }
    .row {
        margin-bottom: 12px;
    }
    .button-row {
        text-align: right;
    }
    textarea {
        resize: none;
    }
}
