// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.group-list {
    div.panel-heading {
        cursor: pointer;
        cursor: hand;
    }
}

.group {
    .name {
        font-weight: 700;
    }

    .member {
        margin: 0px 0.4em;
    }
}
