#header {
  position: fixed;
  right: 20px;
  z-index: 1000;
  background: white none repeat scroll 0% 0%;
  width: 150px;
  height: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    margin-right: 5px;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
