@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Audiowide);

.sidebar {
    z-index: 1000;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #455A64;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.sidebar-item {
    width: 100%;
    background-color: inherit;
    padding: 5px;
    border-color: #37474F;
    color: white;
}

.sidebar-item:hover {
    background-color: #37474F;
    cursor: pointer;
}

.sidebar-logo {
    @extend .sidebar-item;
    font-family: 'Audiowide', cursive;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    padding: 5px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: #37474F;
}

.sidebar-logo:hover {
    background-color: #263238;
}

.sidebar-game {
    @extend .sidebar-item;
}

.game-thumbnail {
    border-radius: 3px;
    margin-right: 10px;
}
