@import 'bootstrap';

.sidebar {
    z-index: 1000;
    position: fixed;
    width: 20%;
    height: 100%;
    background-color: #455A64;
    border-right: 1px solid #37474F;
}

.sidebar-item {
    width: 100%;
    background-color: inherit;
    padding: 5px;
    border-color: #37474F;
    color: white;
}

.sidebar-item:hover {
    background-color: #37474F;
    cursor: pointer;
}

.sidebar-logo {
    @extend .sidebar-item;
    font-weight: 700;
    font-size: 32px;
    padding: 5px 15px;
    background-color: inherit;
}

.sidebar-game {
    @extend .sidebar-item;
}

.game-thumbnail {
    border-radius: 3px;
    margin-right: 10px;
}
